<!-- <div class="container mt-5">
  <h2 class="text-center display-3 mt-4">修改帳目</h2>
  <p class="mt-5">* Required</p>
  <form action="/record/{{record._id}}?_method=PUT" method="POST">
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="">Ｎame</label>
        <input type="text" class="form-control" value="{{record.name}}" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationTooltip02">Amount</label>
        <input type="text" class="form-control" value="{{record.amount}}" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="category">Category</label>
        <select name="category" id="category">
          <option disabled value="">Choose...</option>
          {{#each categories}}
          <option value="{{this.category_id}}" {{#if isSelected}} selected{{/if}}>
            {{this.categoryName}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="date">Date</label>
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 40px;"><i class=" far fa-calendar-alt"></i></span>
        </div>
        <input type="date" class="form-control" value="2020/5/24" required>
      </div>
    </div>

  </form>
</div>
 -->

<div class="container mx-auto" style="width: 500px;">
  <h1 class="text-center display-3 mt-4">EDIT</h1>
  <h5 class="mb-4" style="color: lightcoral;">* Required</h5>
  <form action='/record/{{record._id}}/edit?_method=PUT' method="POST">
    <div class="form-group row mb-4">
      <label for="example-text-input" class="col-2 col-form-label">Name*</label>
      <div class="col-10">
        <input class="form-control" type="text" placeholder="Name" id="example-text-input" value="{{record.name}}"
          name="name" required>
      </div>
    </div>
    <div class="form-group row mb-4">
      <label for="exampleSelect1" class="col-2 col-form-label">Category*</label>
      <div class="col-10">
        <select class="form-control" id="exampleSelect1" style="cursor: pointer" name="Category" required>
          <option value="" disabled selected>Category</option>
          {{#each categories}}
          <option value="{{this.category_id}}" {{#if isSelected}} selected{{/if}}>
            {{this.categoryName}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group input-group row mb-4">
      <label for="example-date-input" class="col-2 col-form-label mr-4">Date*</label>
      <div class="input-group-prepend">
        <span class="input-group-text" style="width: 40px;"><i class=" far fa-calendar-alt"></i></span>
      </div>
      <input class="form-control col-5" type="date" id="example-date-input" style="cursor: pointer"
        value="{{record.date}}" name='date' required>
    </div>
    <div class="form-group input-group row mb-4">
      <label for="example-number-input" class="col-2 col-form-label mr-4">Amount*</label>
      <div class="input-group-prepend">
        <span class="input-group-text" style="width: 40px"><i class="fas fa-dollar-sign"></i></span>
      </div>
      <input class=" form-control col-5" type="number" placeholder="100" id="example-number-input"
        value="{{record.amount}}" name="amount" required>
    </div>
    <div class="text-center mt-4 row">
      <div class="col-5"></div>
      <div class="col-3"><button type="submit" class="btn btn-primary">Save</button></div>
      <div class="col-2"></div>

    </div>
  </form>
</div>